<footer>
  <div class="footer-container">
      <div class="footer-column">
          <h3>StageConnect</h3>
          <ul>
              <li><a href="/about">À Propos</a></li>
              <li><a href="https://cesi.fr" target="_blank">CESI</a></li>
              <li><a href="/legal-notices">Mentions Légales</a></li>
              <li><a href="/privacy-policy">Confidentialité</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <h3>Navigation</h3>
          <ul>
              <li><a href="/">Accueil</a></li>
              <li><a href="/account">Mon Compte</a></li>
              <li><a href="/search">Offres</a></li>
              <li><a href="/search-company">Entreprises</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <h3>Ressources</h3>
          <ul>
              <li><a href="https://support.viacesi.info/" target="_blank">FAQ</a></li>
              <li><a href="https://www.cesi.fr/categorie/fr/actualites/" target="_blank">Actus</a></li>
              <li><a href="https://www.cesi.fr/categorie/fr/temoignages/" target="_blank">Parcours Inspirants</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <h3>Contact</h3>
          <ul class="contact-info">
              <li><a href="mailto:stageconnect@gmail.com">stageconnect@gmail.com</a></li>
              <li><a href="+33144459200">+33 1 44 45 92 00</a></li>
          </ul>
          <div class="social-icons">
              <a href="https://www.facebook.com/CESIingenieurs/?locale=fr_FR" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://x.com/cesi_officiel?lang=fr" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/cesi_officiel/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/school/cesi-officiel/posts/?feedView=all" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
      </div>
  </div>

  <div class="legal">
      <a href="/legal-notices">Mentions légales</a>
      <a href="/cgu">CGU</a>
      <a href="/privacy-policy">Politique de confidentialité</a>
      <a href="/cookies-policy">Politique cookies</a>
      <a href="#">Gestion des cookies</a>
  </div>
</footer> 