{% extends 'base.twig' %}

{% block title %}Accueil - StageConnect{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/styles/home-style.css">
{% endblock %}

{% block content %}
    {% if flash %}
        <script>
            alert("{{ flash|e('js') }}"); {#<div id="popup" class="popup">{{ flash }}</div>#}
        </script> 
    {% endif %}

    <section class="hero">
        <div class="hero-content">
            <h1>Trouve le stage qui lance ta carrière !</h1>
            <p>Plus de <span id="job-count">{{count}}</span> jobs vous attendent !</p>
            <form class="search-container" method="GET" action="/search">
                <input type="text" name="q" placeholder="Cherchez un Stage par intitulé de poste, mot-clé ou compétences">
                <button class="btn-search" type="submit">
                    <i class="fa-solid fa-search"></i>
                </button>
            </form>
            <p class="opportunity-text">Votre profil intéresse des entreprises. Montrez-leur votre motivation !</p>
            <div class="button-container">
                <button class="btn-opportunity">Recevoir des opportunités</button>
            </div>
        </div>
    </section>

    <section class="companies">
        <div class="companies-header">
            <h2>Explorez les entreprises</h2>
            <p>Découvrez leur histoire, rencontrez leurs équipes, comprenez leur culture.</p>
        </div>
        <div class="menu-container">
            <div class="category-filter">
                <button class="category-button active" data-category="all">À découvrir</button>
                <button class="category-button" data-category="Informatique">Informatique</button>
                <button class="category-button" data-category="Défense">Défense</button>
                <button class="category-button" data-category="Énergie">Énergie</button>
                <button class="category-button" data-category="Transport">Transport</button>
                <button class="category-button" data-category="Télécommunications">Télécommunications</button>
                <button class="category-button" data-category="Mode">Mode</button>
            </div>
            <div class="menu-items" id="menu-items">
                <!-- Affichage dynamique des entreprises -->
            </div>
        </div>
    </section>

    <script>
        const companies = {{ companies | default([]) | json_encode | raw }};
    </script>
    <script src="../../static/scripts/home-script.js" defer></script>
{% endblock %}