{% extends 'base.twig' %}

{% block title %}Mentions Légales - StageConnect{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/styles/all-policy-style.css">
{% endblock %}

{% block content %}
    <div class="policy-container">
        <h1>Mentions Légales</h1>

        <h2>1. Éditeur du site</h2>
        <p>
            <strong>Nom de l'entreprise :</strong> StageConnect, CESI<br>
            <strong>Siège social :</strong> 1, avenue du Général de Gaulle – 92074 Paris La Défense<br>
            <strong>Téléphone :</strong> 01 44 45 92 00<br>
            <strong>E-mail :</strong> <a href="mailto:stageconnect@gmail.com">stageconnect@gmail.com</a><br>
            <strong>Numéro SIRET :</strong> 775 722 572<br>
            <strong>Directeur de la publication :</strong> Coralie Bitan, Directeur Marketing, Communication et Support commercial de CESI<br>
        </p>

        <h2>2. Hébergement du site</h2>
        <p>
            <strong>Nom de l'hébergeur :</strong> Poisson Bouge, laboratoire de contenus web dynamiques<br>
            <strong>Siège social :</strong> 7, rue des Cadeniers – 44000 Nantes<br>
            <strong>Téléphone :</strong> 02 40 04 17 04<br>
            <strong>Site web :</strong> <a href="www.poissonbouge.fr" target="_blank">www.poissonbouge.fr</a><br>
        </p>

        <h2>3. Propriété intellectuelle</h2>
        <p>
            Le contenu de ce site (textes, images, vidéos, logos, etc.) est la propriété exclusive de StageConnect ou de ses partenaires et est protégé par les lois en vigueur sur la propriété intellectuelle. Toute reproduction, distribution ou utilisation non autorisée est strictement interdite sans l'accord préalable écrit de StageConnect.
        </p>

        <h2>4. Responsabilité</h2>
        <p>
            StageConnect s'efforce de fournir des informations exactes et à jour sur ce site. Cependant, nous ne pouvons garantir l'exactitude, l'exhaustivité ou la pertinence des informations fournies. En conséquence, nous déclinons toute responsabilité en cas d'erreur ou d'omission dans le contenu du site.
        </p>
        <p>
            Les liens vers des sites tiers présents sur ce site sont fournis à titre informatif. StageConnect n'exerce aucun contrôle sur ces sites et décline toute responsabilité quant à leur contenu ou leur fonctionnement.
        </p>

        <h2>5. Données personnelles</h2>
        <p>
            Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, et au Règlement Général sur la Protection des Données (RGPD), vous disposez des droits suivants concernant vos données personnelles :
        </p>
        <ul>
            <li>Droit d'accès à vos données.</li><br>
            <li>Droit de rectification ou de suppression.</li><br>
            <li>Droit d'opposition au traitement.</li><br>
            <li>Droit à la portabilité des données.</li><br>
        </ul>
        <p>
            Pour exercer ces droits, veuillez nous contacter à l'adresse suivante : <a href="mailto:stageconnect@gmail.com">stageconnect@gmail.com</a>.
        </p>
        <p>
            Pour en savoir plus sur la manière dont nous collectons et utilisons vos données, consultez notre <a href="privacy-policy.html">Politique de Confidentialité</a>.
        </p>

        <h2>6. Cookies</h2>
        <p>
            Ce site utilise des cookies pour améliorer votre expérience utilisateur. Pour en savoir plus sur les cookies que nous utilisons et comment les gérer, consultez notre <a href="cookies-policy.html">Politique des Cookies</a>.
        </p>

        <h2>7. Loi applicable et juridiction compétente</h2>
        <p>
            Les présentes mentions légales sont régies par le droit français. En cas de litige, les tribunaux compétents seront ceux de [ville du tribunal compétent, par exemple Paris].
        </p>

        <h2>8. Contact</h2>
        <p>
            Pour toute question concernant ces mentions légales, veuillez nous contacter à l'adresse suivante : 
            <a href="mailto:stageconnect@gmail.com">stageconnect@gmail.com</a>.
        </p>
    </div>
{% endblock %}