<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Stage Connect</title>
    <link rel="stylesheet" href="../static/styles/global-style.css">
    <link rel="stylesheet" href="../static/styles/login-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="login-logo">
                <img src="../static/images/Stage3.png" alt="Stage Connect Logo">
            </div>

            <form class="login-form" method="POST" action="/login">
                <div class="form-group">
                    <label for="email">Adresse mail</label>
                    <input type="email" name="mail" id="email" placeholder="Entrez votre adresse mail" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe" required>
                </div>

                <button type="submit" class="login-btn">
                    <i class="fas fa-sign-in-alt"></i> Se connecter
                </button>
            </form>
            {% if error %}
                <div class="error-div">
                    <p>{{error}}</p>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>