/* ========================================================================================= */
/* Styles pour les CGU, Mentions légales, Politique de Confidentialité, Politique de Cookies */
/* ========================================================================================= */
body {
    background-color: var(--secondary-color) !important;
}

.policy-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.policy-container h1 {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
}

.policy-container h2 {
    font-size: 1.8rem;
    color: var(--black);
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
}

.policy-container p {
    font-size: 1rem;
    color: var(--gray);
    line-height: 1.6;
    margin-bottom: 20px;
}

.policy-container a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--transition);
}

.policy-container a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .policy-container {
        margin: 20px;
        padding: 15px;
    }

    .policy-container h1 {
        font-size: 2rem;
    }

    .policy-container h2 {
        font-size: 1.5rem;
    }

    .policy-container p {
        font-size: 0.9rem;
    }
}