/* ======================== */
/* Search Page Styles */
/* ======================== */
.search {
    padding: 40px 75px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    margin: 20px auto;
    max-width: 1400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search h1 {
    font-size: 32px;
    color: var(--black);
    margin-bottom: 10px;
}

.search .search-description {
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid var(--gray);
    border-radius: var(--border-radius);
    font-size: 16px;
    outline: none;
    transition: border-color var(--transition);
}

.search-bar input[type="text"]:focus {
    border-color: var(--black);
}

.search-bar button {
    padding: 10px 20px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    transition: background-color var(--transition), transform var(--transition);
}

.search-bar button:hover {
    background-color: var(--primary-color);
    color: var(--black);
    transform: scale(1.05);
}

.search-bar button:active {
    transform: scale(0.97);
}

.filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-group label {
    font-size: 14px;
    color: var(--black);
    font-weight: bold;
}

.filter-group select {
    padding: 10px;
    border: none;
    border-radius: var(--border-radius);
    font-size: 14px;
    background-color: var(--white);
    cursor: pointer;
    transition: border-color var(--transition);
}

.filter-group select:focus {
    border-color: var(--black);
}

.reset-filters {
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 14px;
    transition: all var(--transition);
}

.reset-filters:hover {
    background-color: var(--black);
    color: var(--white);
    transform: scale(1.05);
}

.reset-filters:active {
    transform: scale(0.97);
}

.sort-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sort-filter label {
    font-size: 14px;
    color: var(--black);
    font-weight: bold;
}

.sort-filter select {
    padding: 10px;
    border: 2px solid var(--gray);
    border-radius: var(--border-radius);
    font-size: 14px;
    background-color: var(--white);
    cursor: pointer;
    transition: border-color var(--transition);
}

.sort-filter select:focus {
    border-color: var(--black);
}

.search-results-info {
    text-align: center;
    margin-bottom: 20px;
}

.search-results-info p {
    font-size: 16px;
    color: var(--gray);
}

.job-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-item {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition), box-shadow var(--transition);
}

.job-item:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.job-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover; 
    object-position: center; 
}

.job-content {
    flex: 1;
    text-align: left;
}

.job-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--black);
}

.job-details {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: var(--gray);
}

.job-details i {
    margin-right: 5px;
    color: var(--primary-color)
}

.job-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.apply-btn, .save-btn, .details-btn {
    padding: 8px 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 14px;
    transition: background-color var(--transition), transform var(--transition);
}

.apply-btn {
    background-color: var(--black);
    color: var(--white);
}

.apply-btn:hover {
    background-color: var(--primary-color);
    color: var(--black);
    transform: scale(1.05);
}

.save-btn {
    background-color: var(--secondary-color);
    color: var(--black);
}

.save-btn:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.details-btn {
    background-color: var(--white);
    border: 2px solid var(--black);
    color: var(--black);
    text-decoration: none;
    margin-right: 10px;

}

.details-btn:hover {
    background-color: var(--black);
    color: var(--white);
    transform: scale(1.05);
}

.favorite-icon {
    
    font-size: 20px;
    color: var(--gray);
    cursor: pointer;
    transition: color var(--transition);
}

.favorite-icon:hover {
    color: var(--primary-color);
}

.favorite-icon.fas {
    color: var(--primary-color);
}

.no-results {
    text-align: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.no-results p {
    font-size: 16px;
    color: var(--gray);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-button {
    padding: 10px 20px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 14px;
    transition: background-color var(--transition), transform var(--transition);
}

.pagination-button:hover {
    background-color: var(--primary-color);
    color: var(--black);
    transform: scale(1.05);
}

.pagination-button:active {
    transform: scale(0.97);
}

.pagination-page {
    font-size: 16px;
    color: var(--black);
}

/* Skeleton Loading */
.skeleton {
    animation: skeleton-loading 1.5s infinite;
}

.skeleton-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--gray);
}

.skeleton-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton-line {
    height: 12px;
    background-color: var(--gray);
    border-radius: var(--border-radius);
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

/* ======================== */
/* Fenetre Modale d'offre */
/* ======================== */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Styles de la modale */
.modal {
    position: relative; /* Ajoutez cette ligne */
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1100px;
    max-height: 95vh;
    overflow-y: auto;
    animation: fadeIn 0.3s ease;
    margin: 20px;
    /* Masquer la barre de défilement */
    scrollbar-width: none; /* Pour Firefox */
}

.modal-header {
    padding: 25px;
    border-bottom: 1px solid var(--secondary-color);
}

.modal-header h2 {
    font-size: 28px;
    color: var(--black);
    margin: 0;
}

.modal .close-modal {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--black);
    transition: color var(--transition);
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-modal:hover {
    color: var(--primary-color);
}

.no-scroll {
    overflow: hidden;
}

.modal-body {
    padding: 25px;
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.summary-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: var(--border-radius);
}

.summary-item i {
    font-size: 24px;
    color: var(--primary-color);
    transition: transform 0.3s ease;
}

.summary-item:hover i {
    transform: scale(1.1);
}

.summary-content {
    display: flex;
    flex-direction: column;
}

.summary-label {
    font-size: 14px;
    color: var(--gray);
}

.summary-value {
    font-size: 16px;
    color: var(--black);
    font-weight: bold;
}

.description-section,
.skills-section,
.benefits-section,
.practical-info-section {
    margin-bottom: 30px;
}

.description-section h3,
.skills-section h3,
.benefits-section h3,
.practical-info-section h3 {
    font-size: 22px;
    color: var(--black);
    margin-bottom: 15px;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 10px;
}

.description-section p,
.skills-section ul,
.benefits-section ul,
.practical-info-section ul {
    font-size: 16px;
    color: var(--black);
    line-height: 1.8;
    list-style: none;
}

.skills-section ul,
.benefits-section ul,
.practical-info-section ul {
    list-style: none;
    padding-left: 0;
}

.skills-section ul li,
.benefits-section ul li,
.practical-info-section ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.modal-footer {
    padding: 25px;
    border-top: 1px solid var(--secondary-color);
    text-align: center;
}

.candidacy-btn {
    padding: 12px 24px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 18px;
    transition: background-color var(--transition), transform var(--transition);
}

.candidacy-btn:hover {
    background-color: var(--primary-color);
    color: var(--black);
    transform: scale(1.05);
}

.candidacy-btn:active {
    transform: scale(0.97);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ======================== */
/* Responsive Design */
/* ======================== */

@media screen and (max-width: 768px) {
    .search-bar {
        flex-direction: column;
        align-items: center;
    }

    .search-bar input[type="text"] {
        width: 100%;
    }

    .filters {
        flex-direction: column;
        align-items: center;
    }

    .job-item {
        flex-direction: column;
        text-align: center;
    }

    .job-item img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .job-actions {
        justify-content: center;
    }
}